<!DOCTYPE html>
<html>
  <head>
    <script>
      window.addEventListener("message", function(ev) {

        // this page must respond to "requestCredentials"
        if (ev.data === "requestCredentials") {

            ev.source.postMessage({
               message: "<%= @data['message'] %>",
               auth_token: "<%= @data['auth_token'] %>",
               client_id: "<%= @auth_params[:client_id] %>",
               expiry: "<%= @auth_params[:expiry] %>",
               uid: "<%= @data['email'] %>",

               // additional params will be added to the user object
               email: "<%= @data['email'] %>",
               // etc.

            }, '*');           

          // close window after message is sent
          window.close();
        }
      });
    </script>
  </head>
  <body>
    <pre>
      Redirecting...
    </pre>
  </body>
</html>
